<div class="outsourced">

  <section class="cabecera"></section>
  <section> <!--Seccion titulo-->
    <div class="container">
      <div class="mesh-col-l-12 center">
        <div class="titulo tamano">
          Do we REALLY <br class="no si-768">need supplements?
        </div>
      </div>
    </div>
  </section>

  <section> <!--Seccion resumen-->
    <div class="container">
      <div class="mesh-col-l-12 center">
        <div class="resumen tamano">
          Have you had your 5-a-day today? According to data from over 200,000 UK<br class="no-768">
          adults, over 50% of us report <span class="resumenAzul">consuming fewer than 2 portions</span> of fruit and<br
          class="no-768">
          vegetables a day. But it’s not all that surprising when you consider how many<br class="no-768">
          of us really have the time to make 3 perfectly-balanced homemade meals<br class="no-768">
          every day using fresh, whole foods…
        </div>
      </div>
    </div>
  </section>

  <section> <!--Seccion resumen nutricional-->
    <div class="container">
      <div class="mesh-col-l-12 left">
        <div class="enlace tamano">
          Share:
          <a href="https://www.facebook.com/sharer/sharer.php?u={{w.location.href}}"><img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/facebook.png"
                          class="enlaceImg"></a>
          <a href="https://www.twitter.com/share?url={{w.location.href}}"><img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/twitter.png"
                          class="enlaceImg"></a>
        </div>
        <div class="estadistica tamano">
          Even for the 5.5% of people that consistently manage to get their 5-a-day, is that really all it takes to get
          the recommended amount of all <span class="colorAzul">13 vitamins</span> and <span class="colorAzul">16 minerals</span>
          the body needs?
          <br><br>
          Not only do we eat less than our hunter-gatherer ancestors (scientists estimate they were eating
          3,000-4,000Kcal a day to fuel their active lifestyles), resulting in a <span class="colorAzul">lower intake of vitamins and minerals</span>,
          some speculate that our <span class="colorAzul">food is actually less nutritious than it used to be</span>.
          According to the Earth Summit Report (1992), the quantity of nutrients in our soil could be up to 85% less
          than it was 100 years ago as a result of intense modern farming methods.
          <br><br>
          Whether or not our diet is able to provide all that we need for optimal health, there will always be factors
          beyond our immediate control that affect our individual requirements for certain vitamins and minerals. <span
          class="colorAzul">Environment, lifestyle and even genetic factors</span> influence our individual needs, which
          is why it’s essential to take a personalised approach when it comes to nutrition.
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="mesh-col-l-12 center">
        <div class="comenzar colorCrema tamano">
          Get a <a
          href="https://vitl.com/personalised-free-trial?utm_source=outbrain&utm_medium=blogvertorial&utm_campaign=blogvertorial_do_we_really_need_supplements"
          target="_blank"><span
          class="colorVerde">free 2-week trial</span></a> of personalised vitamins today<br class="no-480"> and discover how Vitl can help you improve your wellbeing
          <div class="espacio-20"></div>
          <div class="btncomenzar">
            <a href="https://vitl.com/consultation?utm_source=outbrain&utm_medium=blogvertorial&utm_campaign=blogvertorial_do_we_really_need_supplements" target="_blank" style="color: #333333; padding: 14px 45px;">Start
              now</a>
          </div>
          <div class="espacio-30"></div>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="mesh-col-l-12 left">
        <div class="espacio-20"></div>
        <div class="espacio-20"></div>
        <div class="conbordeL tamano">
          Why your supplements need <br class="no-768">
          to be personalised
        </div>
        <div class="requisitos tamano">
          Our nutrient requirements evolve as we age and vary for men and women, but these aren’t the
          only reason we shouldn’t all be taking the same off-the-shelf multivitamins…
        </div>
        <ul class="lista-mejoras tamano">
          <li class="item">
            <span class="tituloAzul">We all have different dietary requirements</span> <br>
            <p class="resumentipsAzul">
              Whether you’re vegan, vegetarian, suffer from a digestive issue or simply need to avoid certain foods due
              pregnancy or an intolerance, the amount of vitamins and minerals you get from food will be affected. For
              example, it’s almost impossible to get enough vitamin B12 on a vegan diet and lactose intolerance can make
              it more difficult to get enough calcium.
            </p>
          </li>
          <li class="item">
            <span class="tituloAzul">We all have different lifestyles</span> <br>
            <p class="resumentipsAzul">
              Although the number of smokers has drastically reduced in recent years (which is good news for vitamin C
              and E levels), the majority of us still consume alcohol. Even a couple of drinks a week can affect our
              levels of vitamin B12 and vitamin C. And whilst we should all be exercising regularly, sweating can also
              take its toll on the body, depleting our stores of key minerals such as magnesium and potassium.
            </p>
          </li>
          <li class="item">
            <span class="tituloAzul">We all have different health goals</span> <br>
            <p class="resumentipsAzul">
              Perhaps you’ve been feeling a little stressed recently. Did you know that vitamin C can help the body
              recover from emotional and physical stress by helping to regulate cortisol levels? Maybe you’re looking to
              improve your energy levels and sleep better? B vitamins help the body to produce energy and magnesium can
              contribute to sounder sleep. Whatever your health goal, the right supplements can help get you there.
            </p>
          </li>
        </ul>
        <div class="tamano">
          <img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/image-box-3x.png" alt="caja vitl"
               class="cajaImg">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="mesh-col-l-12 left">
        <div class="conbordeL modconbordeL tamano">
          How do I find out which <br class="no-768">
          vitamins I need?
        </div>
        <div class="necesitas tamano">
          Just by taking a close look at your diet, lifestyle and how you feel day-to-day, a nutritionist will be
          able to have a very good understanding of which vitamins and minerals you should be
          supplementing your diet with. But you don’t need to book an expensive appointment to find out.
          The <a href=" https://vitl.com/?utm_source=outbrain&utm_medium=blogvertorial&utm_campaign=blogvertorial_do_we_really_need_supplements" target="_blank"><span class="colorVerde">Vitl</span></a> consultation is an
          AI-driven, interactive online consultation developed by nutritionists and
          based on years of clinical experience.
        </div>
      </div>
    </div>
  </section>

  <!----------------------------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------DESKTOP---------------------------------------------------------------------->
  <!----------------------------------------------------------------------------------------------------------------------------------------->

  <section class="no-768">
    <section class="tamano"> <!--Seccion imagen con descripcion1-->
      <div class="container">
        <div class="mesh-col-l-1 mesh-col-m-1 modCentrar">
          <img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/icon-chat.png"
               class="imgItem modimgItem1">
        </div>
        <div class="mesh-col-l-11 mesh-col-m-11 tamano tamanoNormal">
          <div class="titulo_descrip">
            Take your free consultation
          </div>
          <div class="texto_descrip">
            It takes around 5 minutes and you’ll answer questions about your diet,<br>
            lifestyle and health goals.
          </div>
        </div>
      </div>
    </section>

    <section class="tamano"> <!--Seccion imagen con descripcion2-->
      <div class="container">
        <div class="mesh-col-l-1 mesh-col-m-1 modCentrar">
          <img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/icon-results.png"
               class="imgItem modimgItem2">
        </div>
        <div class="mesh-col-l-11 mesh-col-m-11 tamano tamanoNormal">
          <div class="titulo_descrip modtit_descrip2">
            Get your free expert recommendations
          </div>
          <div class="texto_descrip">
            Alongside dietary recommendations, our team of experts will formulate a combination<br>
            of supplements based on your consultation answers using the cleanest, most<br>
            absorbable ingredients and absolutely no fillers, artificial colours or preservatives.
          </div>
        </div>
      </div>
    </section>

    <div style="height: 12px;"></div>

    <section class="tamano"> <!--Seccion imagen con descripcion3-->
      <div class="container">
        <div class="mesh-col-l-1 mesh-col-m-1 modCentrar">
          <img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/icon-lifestyle.png"
               class="imgItem modimgItem3">
        </div>
        <div class="mesh-col-l-11 mesh-col-m-11 tamano tamanoNormal">
          <div class="titulo_descrip modtit_descrip2">
            Try your personalised supplements for free
          </div>
          <div class="texto_descrip">
            Get started with a <a
            href="https://vitl.com/personalised-free-trial?utm_source=outbrain&utm_medium=blogvertorial&utm_campaign=blogvertorial_do_we_really_need_supplements"
            target="_blank"><span
            class="colorVerde">free 2-week trial</span></a> and you’ll get your personalised supplements in<br>
            handy daily strips so you never miss a day.
          </div>
        </div>
      </div>
    </section>
  </section>

  <!----------------------------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------MOBILE----------------------------------------------------------------------->
  <!----------------------------------------------------------------------------------------------------------------------------------------->

  <section class="no si-768">
    <div class="container">
      <div class="mesh-col-l-12 center">
        <swiper [config]="carouselConfig" class="owl-carousel owl-theme">
          <div class="item active">
            <img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/icon-chat.png"
                 class="imgItem modimgItem1 ">
            <div class="titulo_descrip">
              Take your free consultation
            </div>
            <div class="texto_descrip">
              It takes around 5 minutes and you’ll answer <br class="no si-768 no-360">
              questions about your diet, <br class="no si-768 no-360">
              lifestyle and health goals.
            </div>
          </div>

          <div class="item">
            <img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/icon-results.png"
                 class="imgItem modimgItem1">
            <div class="titulo_descrip">
              Get your free expert recommendations
            </div>
            <div class="texto_descrip">
              Alongside dietary recommendations, our<br class="no si-768 no-360">
              team of experts will formulate a<br class="no si-768 no-360">
              combination of supplements based on your<br class="no si-768 no-360">
              consultation answers using the cleanest,<br class="no si-768 no-360">
              most absorbable ingredients and<br class="no si-768 no-360">
              absolutely no fillers, artificial colours or<br class="no si-768 no-360">
              preservatives.
            </div>
          </div>

          <div class="item">
            <img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/icon-lifestyle.png"
                 class="imgItem modimgItem1">
            <div class="titulo_descrip">
              Try your personalised supplements for free
            </div>
            <div class="texto_descrip">
              Get started with a <a href="https://vitl.com/personalised-free-trial?utm_source=outbrain&utm_medium=blogvertorial&utm_campaign=blogvertorial_do_we_really_need_supplements" target="_blank"><span
              class="colorVerde">free 2-week trial</span></a> and<br class="no si-768 no-360">
              you’ll get your personalised supplements in<br class="no si-768 no-360">
              handy daily strips so you never miss a day.
            </div>
          </div>
        </swiper>
        <div class="blood-s4-carousel-slide-dots"></div>
      </div>
    </div>
  </section>


  <!----------------------------------------------------------------------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------------------------------------------------------------------->

  <section>
    <div class="container">
      <div class="mesh-col-l-12 left">
        <div class="pie_descrip tamano">
          You can retake your consultation whenever you want so if your needs change, your personalised
          supplements will too. After your <a href="https://vitl.com/personalised-free-trial?utm_source=outbrain&utm_medium=blogvertorial&utm_campaign=blogvertorial_do_we_really_need_supplements" target="_blank"><span class="colorVerde">free 2-week trial</span></a>,
          we’ll deliver your supplements fresh each month
          in letterbox-friendly packaging so you never need to worry about running out.
        </div>
      </div>
    </div>
    <div class="container">
      <div class="mesh-col-l-12 center">
        <div class="btncomenzar">
          <a href=" https://vitl.com/consultation?utm_source=outbrain&utm_medium=blogvertorial&utm_campaign=blogvertorial_do_we_really_need_supplements" target="_blank" style="color: #333333; padding: 14px 45px;">Start
            now</a>
        </div>
        <div class="espacio-40"></div>
      </div>
    </div>
  </section>

  <section class="colorGris">
    <div class="container">
      <div class="mesh-col-l-12 center">
        <div class="tituloGris tamano">
          What our customers think
        </div>
        <div class="puntuacionGris tamano">
          With a <span class="colorAzul">9.3 star Trustpilot rating</span> and thousands of monthly subscribers, we’re
          constantly hearing<br class="no-768">
          from our customers about how their personalised supplements are helping them to live life better:
        </div>
      </div>
    </div>

    <!----------------------------------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------DESKTOP---------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------------------->
    <div class="container no-768">
      <div class="mesh-col-xl-4 mesh-col-l-4 mesh-col-m-12 center">
        <div class="cuadradoBlanco modcuadradoBlanco1">
          <div class="espacio-20"></div>
          <img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/stars-review.svg" alt="puntuacion">
          <div class="nombreCrit">
            Olga B <br>
          </div>
          <div class="fraseCrit">
            “These are great vitamins. I can already feel my energy levels have increased after a few days!”
          </div>
        </div>
        <div class="espacio-10 no si-1200"></div>
      </div>

      <div class="mesh-col-xl-4 mesh-col-l-4 mesh-col-m-12 center">
        <div class="cuadradoBlanco modcuadradoBlanco2">
          <div class="espacio-20"></div>
          <img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/stars-review.svg" alt="puntuacion">
          <div class="nombreCrit">
            Louise M <br>
          </div>
          <div class="fraseCrit">
            “Since starting Vitl three months ago, my energy has increased, my skin has cleared and my moods have
            leveled out. Vitl supplements have literally changed my life for the better!”
          </div>
        </div>
        <div class="espacio-10 no si-1200"></div>
      </div>
      <div class="mesh-col-xl-4 mesh-col-l-4 mesh-col-m-12 center">
        <div class="cuadradoBlanco modcuadradoBlanco3">
          <div class="espacio-20"></div>
          <img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/stars-review.svg" alt="puntuacion">
          <div class="nombreCrit">
            Marcel K <br>
          </div>
          <div class="fraseCrit">
            “I’ve been taking the vitamins for a week and am conscious that I am sleeping better and feeling more
            energetic through my shifts.”
          </div>
        </div>
        <div class="espacio-10 no si-1200"></div>
      </div>
    </div>

    <!----------------------------------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------MOBILE----------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------------------->
    <div class="container no si-768">
      <div class="mesh-col-l-12 center">
        <swiper [config]="carousel2Config" class="owl-carousel owl-theme">
          <div class="item active">
            <div class="cuadradoBlanco modcuadradoBlanco1">
              <div class="espacio-20"></div>
              <img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/stars-review.svg" class="estrellas"
                   alt="puntuacion">
              <div class="nombreCrit">
                Olga B <br>
              </div>
              <div class="fraseCrit">
                “These are great vitamins. I can already feel my energy levels have increased after a few days!”
              </div>
            </div>
          </div>

          <div class="item">
            <div class="cuadradoBlanco modcuadradoBlanco2">
              <div class="espacio-20"></div>
              <img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/stars-review.svg" class="estrellas"
                   alt="puntuacion">
              <div class="nombreCrit">
                Louise M <br>
              </div>
              <div class="fraseCrit">
                “Since starting Vitl three months ago, my energy has increased, my skin has cleared and my moods have
                leveled out. Vitl supplements have literally changed my life for the better!”
              </div>
            </div>
          </div>

          <div class="item">
            <div class="cuadradoBlanco modcuadradoBlanco3">
              <div class="espacio-20"></div>
              <img src="https://static.vitl.com/bloglp/do-we-really-need-supplements/stars-review.svg" class="estrellas"
                   alt="puntuacion">
              <div class="nombreCrit">
                Marcel K <br>
              </div>
              <div class="fraseCrit">
                “I’ve been taking the vitamins for a week and am conscious that I am sleeping better and feeling more
                energetic through my shifts.”
              </div>
            </div>
          </div>
        </swiper>
        <div class="blood-s5-carousel-slide-dots"></div>
      </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------------------->
    <div class="container">
      <div class="mesh-col-l-12 center">
        <div class="pieDpag tamano">
          Because we’re so sure you’ll notice a difference too, we’re offering you a <a href="https://vitl.com/personalised-free-trial?utm_source=outbrain&utm_medium=blogvertorial&utm_campaign=blogvertorial_do_we_really_need_supplements"
                                                                                        target="_blank"><span
          class="colorVerde">free 2-week trial</span></a> (which you can
          pause or cancel anytime) so get started today and discover what it’s like to be you, on a good day, <br
          class="no si-410"> every day!
        </div>
      </div>
    </div>
  </section>


</div>
