<section class="hero hero--primary hero--top hero--background hero--backgroundRight pb-30 pb-md-0" style="background-image:url(https://static.vitl.com/assets/images/Vitamins_Hero_back@2x.png)">
    <div class="hero__container grid">
        <div class="hero__item grid__item--6">
            <h1 class="heading heading--reducedWidth-md heading--centered-md heading  font-38 font-md-50 mb-40 text-center">
                Find your perfect match
            </h1>
            <hr class="hr mb-40 visible-md visible-lg visible-xl" />
            <p class="copy copy--reducedWidth-md copy--centered-md font-16 font-md-20 mb-40 mb-md-0 text-center">
                Developed by a team of leading experts, all VITL products are 100% free of harmful bulking agents and contain only the highest quality, sustainably sourced ingredients to ensure maximum absorption.
            </p>
        </div>
        <div class="hero__item grid__item--6 text-center">
            <img src="https://static.vitl.com/assets/images/Vitamins_Hero_im@2x.png" class="hero__image hero__image--medium-md" />
        </div>
    </div>
</section>

<div>
    <app-category-preview *ngFor="let item of categories; let i = index" [item]="item" [odd]="i % 2"></app-category-preview>
</div>

<div class="hero hero--cream hero--background ">
  <img src="https://static.vitl.com/assets/images/a_great_day_bg_left@2x.png" class="hero--backgroundImageLeft hidden-xs hidden-sm" alt="">
    <div class="hero__container hero__container--medium grid">
        <div class="grid__item--12">
            <div class="text-center center-block width-50--md pt-50  pb-50">
                <h3 class="heading mb-30 font-md-44 font-36 mt-20 mt-md-0">A great day starts with you feeling your best</h3>
                <hr class="hr hr--primary mb-30" />
                <p class="copy mb-30 mb-md-60 font-16 font-md-20">We believe you need what's best for your health.
                    That's why we only recommend tailor-made vitamins
                    and supplements that suit your unique nutritional profile, to help you feel 100% more often.</p>
                <a routerLink="/consultation" class="button button--primary button--medium">Start consultation</a>
            </div>
        </div>
    </div>
  <img src="https://static.vitl.com/assets/images/a_great_day_bg_right@2x.png" class="hero--backgroundImageRight hidden-xs hidden-sm" alt="">
</div>
