<div class="pt-100 pt-md-150 pb-60">

  <div class="container container--tiny text-center">

    <div [hidden]="emailSent">

      <h1 class="heading heading--small mb-30">Forgot your password?</h1>

      <p class="copy mb-30">Enter your email address to receive a password reset email</p>

      <hr class="hr hr--primary mb-30">

      <form class="mb-30" (ngSubmit)="submit()"#forgotForm="ngForm">

        <div class="mb-30">
          <app-form-text name="email" placeholder="Email address" ngModel email required></app-form-text>
        </div>

        <button class="button button--fullWidth button--maxWidth button--primary">Submit</button>

      </form>

    </div>

    <div [hidden]="!emailSent">

      <div class="mb-30">
        <lottie-animation-view [options]="lottieConfig" [width]="150" [height]="150" (animCreated)="handleAnimation($event)"></lottie-animation-view>
      </div>

      <h1 class="heading heading--small mb-30">You'll be back in no time!</h1>

      <p class="copy">We've sent you an email with a link so you can reset your password - please make sure you check your spam folder</p>

    </div>

  </div>

</div>
