<div class="new-UI" *ngIf="products">

  <div class="row">
    <div class="col-xs-12"
      [ngClass]="{
        'col-md-10 col-md-offset-1': products.length === 2,
        'col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0': products.length === 3}">
      <div class="carousel carousel--products carousel--{{products.length}}">

        <swiper [config]="products.length === 2 ? carouselConfig2 : carouselConfig3">

          <div class="carousel__slide" *ngFor="let product of products">
            <a class="carousel--products__image background--cream cursor mb-20" routerLink="/product/{{product.slug}}">
              <img [appImage]="product.icon" [width]="260" />
            </a>
            <h3 class="heading-3">{{product.label}}</h3>
            <div class="divider mt-15 mb-20"></div>
            <p *ngIf="enableAddToBasket && product.shortDescription" class="text--small mb-20">{{ product.shortDescription }}</p>
            <p class="text--gray-lighter">From {{product.fromAmount}}</p>
            <div class="carousel__slide__actions pt-25 pb-20">
              <a *ngIf="enableAddToBasket" class="button button--small button--primary" (click)="addToBasket(product)">Add to basket</a>
              <a class="button button--small button--ghost" routerLink="/product/{{product.slug}}">Find out more</a>
            </div>
          </div>

        </swiper>

        <div class="carousel-dots carousel-dots--recommended" [class.hidden-sm]="products.length === 2"></div>

      </div>
    </div>
  </div>

</div>