<div class="input input--text" [ngClass]="{
  'input--focussed': focussed,
  'input--white': white,
  'input--whiteMd': whiteMd,
  'input--disabled': disabled,
  'input--filled': thisValue
}">

  <div class="input__placeholder" [ngClass]="{'input__placeholder--minimized': minimizePlaceholder()}">{{placeholder}}</div>

  <input type="password" [(ngModel)]="thisValue" class="input__control" (blur)="blur()" (focus)="focus()" [disabled]="disabled" #inputControl />

  <button class="button button--active input__submit" *ngIf="submit"></button>

</div>