<div class="new-UI">

  <section class="hero background--cream" style="min-height: auto;">
    <div class="container text-center text-sm-left">
        <div class="row flex-center">
            <div class="col-xs-12 col-md-5 col-md-offset-0 pt-90 pb-90">
                <h1 class="heading-2">Vitl’s top tips</h1>
                <div class="divider"></div>
                <p class="mb-25">
                  Here at Vitl, we recently asked our doctors, dieticians, nutritionists and scientists to share their top tips for the team to stay healthy and supercharge their immune systems during a potential flu outbreak, as well as the products we recommend them.
                </p>
                <p class="mb-10">Share:</p>
                <a href="https://www.twitter.com/share?url=https://vitl.com/corona-tips" class="social-link">
                  <img src="https://static.vitl.com/assets/images/twitter.svg" class="social-link__img">
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://vitl.com/corona-tips" class="social-link">
                  <img src="https://static.vitl.com/assets/images/facebook.svg" class="social-link__img">
                </a>
                <a href="mailto:?body=Corona: Vitl's top tips - https://vitl.com/corona-tips&subject=Vitl's top tips" class="social-link">
                  <img src="https://static.vitl.com/assets/images/envelope.svg" class="social-link__img">
                </a>
                <a href="whatsapp://send?text=Corona: Vitl’s top tips - vitl.com/corona-tips" class="social-link">
                  <img src="https://static.vitl.com/assets/images/whatsapp.svg" class="social-link__img">
                </a>
            </div>
            <div class="section-visual col-xs-12 col-md-6 col-md-offset-1 hidden-xs hidden-sm">
                <div class="section-visual-inner visual-half visual-left">
                    <img class="lazyload" data-src="https://static-prod.vitl.com/images/covid/hero.jpg?compress=1"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section-visual visible-xs visible-sm">
      <img class="lazyload"
          data-src="https://static-prod.vitl.com/images/covid/hero-mobile.jpg?compress=1" />
    </div>
  </section>

  <section>
    <div class="container pt-60 pb-60 pt-md-100 pb-md-100 text-center">
      <h2 class="heading-2">The importance of rest</h2>
      <div class="divider"></div>
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="mb-45">
            &ldquo;In addition to good hygiene and hydration, don’t forget how important getting enough high-quality sleep is. It can have a positive effect on your immune system and strengthens your body’s ability to respond to infections. Watch out too for unhealthy lifestyle behaviours such as smoking and drinking excess alcohol as they can depress your immune system by suppressing the antibodies that fight colds and flu.&rdquo;
          </p>
          <img class="mb-10 lazyload"
            width="200"
            data-srcset="
            https://static-prod.vitl.com/images/home/experts-Monal.jpg?compress=1 2x,
            https://static-prod.vitl.com/images/home/experts-Monal.jpg?width=224&compress=1 1x"
            data-src="https://static-prod.vitl.com/images/home/experts-Monal.jpg?width=224&compress=1"
            alt="Dr Monal Wadhera" />
          <h4 class="heading-4 mb-5">Dr Monal Wadhera</h4>
          <p class="text--small"><strong>Medical Director</strong></p>
          <p class="text--xsmall">BSc MBBS MRCP MRCGP</p>
        </div>
      </div>
    </div>
  </section>

  <section class="background--cream">
    <div class="container pt-60 pb-60 pt-md-100 pb-md-100 text-center">
      <h2 class="heading-2">Getting the right nutrients</h2>
      <div class="divider"></div>
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="mb-45">
            &ldquo;Making sure you get the right nutrients to support your immune system can be incredibly beneficial.  Antioxidants such as Vitamin C help stimulate the production of white blood cells that aid your body’s ability to fight infectious diseases. Fortunately, sources of Vitamin C are abundant, found in fruits such as kiwis, oranges, strawberries, and cruciferous vegetables such as broccoli and kale.  If you’re struggling to get all your nutrients from healthy eating alone, our <a class="link" routerLink="/product/personalised">Personalised Vitamin Packs</a> and <a class="link" routerLink="/product/immunity-pack">Immunity Packs</a> can also provide helpful support.
            <br><br>
            In the winter months, it’s also incredibly important to ensure you get enough Vitamin D, as this specifically contributes to the normal function of the immune system. While Vitamin D deficiencies are very common, they are also easily fixed, and supplements such our <a class="link" routerLink="/product/vitamin-d">Vitamin D</a> Pocket Packs are a great way to boost your Vitamin D intake in addition to diet and getting enough exposure to sunshine.&rdquo;
          </p>
          <img class="mb-10 lazyload"
            width="200"
            data-srcset="
            https://static-prod.vitl.com/images/home/experts-Christina.jpg?compress=1 2x,
            https://static-prod.vitl.com/images/home/experts-Christina.jpg?width=224&compress=1 1x"
            data-src="https://static-prod.vitl.com/images/home/experts-Christina.jpg?compress=1"
            alt="Christina Mamada" />
          <h4 class="heading-4 mb-5">Christina Mamada</h4>
          <p class="text--small"><strong>Nutrition Associate</strong></p>
          <p class="text--xsmall">MSc Nutrition, BSc Biology</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container pt-60 pb-60 pt-md-100 pb-md-100 text-center">
      <h2 class="heading-2">Stay kind, stay positive</h2>
      <div class="divider"></div>
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="mb-45">
            &ldquo;We don’t know how severe the spread of coronavirus will be, but positivity and kindness in tough times always helps! There’s also emerging science that suggests positivity and kindness doesn’t just help others but can also boost your immune system and have a protective effect. So look out for your teammates and support the people around you. Whether it’s a neighbour in isolation or even a little smile to a stressed commuter, take the opportunity to be kind.&rdquo;
          </p>
          <img class="mb-10 lazyload"
            width="200"
            data-srcset="
            https://static-prod.vitl.com/images/covid/Jonathan.jpg?compress=1 2x,
            https://static-prod.vitl.com/images/covid/Jonathan.jpg?width=224&compress=1 1x"
            data-src="https://static-prod.vitl.com/images/covid/Jonathan.jpg?compress=1"
            alt="Jonathan Relph" />
          <h4 class="heading-4 mb-5">Jonathan Relph</h4>
          <p class="text--small"><strong>Founder and CEO</strong></p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <img class="lazyload visible-xs" src="https://static.vitl.com/images/practitioners/header-tablet.jpg?compress=1" alt="healthcare professional" style="width: 100%; height: auto;" />
    <div class="section-visual-inner hidden-xs" style="background-color: #bfcac6;">
      <img class="lazyload" src="https://static.vitl.com/images/practitioners/header-B-desktop.jpg?compress=1" alt="healthcare professional" style="object-fit: cover;" />
    </div>
    <div class="container pt-40 pt-sm-100 pb-40 pb-sm-100 text-center text-sm-left">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5">
          <h2 class="heading-2">Are you a healthcare professional?</h2>
          <div class="divider divider--black"></div>
          <p class="mb-45">We’re making 500 of our Vitamin D3 Pocket Packs available (free of charge) to frontline healthcare workers. Vitamin D helps supports the normal functioning of the immune system and we want to do our bit to support you. Follow the link below to claim your free pack.</p>
          <a class="button button--primary" href="https://vitlhealth.typeform.com/to/tqM0ws">Healthcare professional</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container pt-40 pt-sm-100 pb-40 pb-sm-100 text-center">
      <h2 class="heading-2">Top Product Recommendations</h2>
      <div class="divider"></div>
      <app-products-carousel type="custom" [productIDs]="products"></app-products-carousel>
    </div>
  </section>
</div>