<div class="new-UI">
    <section class="hero hero--product background--cream">
        <div class="container">
            <div class="row">
                <div class=" hero--product__wrapper col-xs-12 col-md-4 col-md-offset-1">
                    <div class="hero__content mt-md-75 mb-md-75">
                        <div class="hero__content__inner">
                            <h1 class="heading-1">The Vitl Bottle</h1>
                            <div class="divider"></div>
                            <p class="mb-20 mb-md-40">
                                The perfect accessory to help remind you to stay hydrated and to take your vitamins!
                            </p>
                            <app-plan-selector [product]="product"></app-plan-selector>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="hero__visual">
                        <img class="hero__visual__bg hidden-xs hidden-sm" src="https://static-prod.vitl.com/images/personalised/personalised-s1--bg.png?compress=1" />
                        <img class="hero__visual__product"
                            src-set="https://static-prod.vitl.com/images/bottle/bottle-hero.png?width=450&compress=1 x1,
                                    https://static-prod.vitl.com/images/bottle/bottle-hero.png?compress=1 x2"
                            src="https://static-prod.vitl.com/images/bottle/bottle-hero.png?width=450&compress=1"
                            alt="Vitl Bottle"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-5 col-md-offset-0 pt-80 pb-80 pt-md-100 pb-md-100">
                    <p class="mb-40">This <strong>handy 500ml reusable bottle</strong> is made using double-walled vacuum insulation technology to keep your cold drinks cold and hot drinks hot - ideal for keeping you cool during a workout or warm on a winter’s day.</p>
                    <p>The powder coating <strong>prevents condensation</strong> from building up on its surface and its bold colour will help remind you to <strong>take your vitamins and stay hydrated</strong>.</p>
                </div>
                <div class="section-visual col-xs-12 col-md-6 col-md-offset-1 hidden-xs hidden-sm">
                    <div class="section-visual-inner visual-half visual-left">
                        <img
                            class="lazyload"
                            data-srcset="https://static-prod.vitl.com/images/bottle/bottle-lifestyle.jpg?v=2&width=900&compress=1 1x,
                                        https://static-prod.vitl.com/images/bottle/bottle-lifestyle.jpg?v=2&compress=1 2x"
                            data-src="https://static-prod.vitl.com/images/bottle/bottle-lifestyle.jpg?v=2&width=640&compress=1"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-visual visible-xs visible-sm">
            <img
                class="lazyload"
                data-src="https://static-prod.vitl.com/images/bottle/bottle-lifestyle.jpg?v=2&width=900&compress=1"/>
        </div>
    </section>

    <section class="background--cream">
        <div class="container pt-60 pb-60 pt-md-100 pb-md-100 text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                    <h2 class="heading-2 mb-60">Features</h2>
                    <div class="carousel">
                        <swiper [config]="carouselConfig">
                            <div class="carousel__slide center-block">
                                <img class="lazyload mb-20 hidden-sm"
                                    width="150"
                                    data-src="https://static-prod.vitl.com/images/bottle/bottle-feature-1.png?compress=1 x1,
                                            https://static-prod.vitl.com/images/bottle/bottle-feature-1.png?width=150&compress=1 x2"
                                    data-src="https://static-prod.vitl.com/images/bottle/bottle-feature-1.png?width=150&compress=1" />
                                <img class="lazyload mb-30 hidden-xs hidden-md hidden-lg hidden-xl"
                                    width="270"
                                    data-src="https://static-prod.vitl.com/images/bottle/bottle-feature-1.png?compress=1" />
                                <h3 class="heading-4 mb-20">Temperature controlled</h3>
                                <p class="text--small">
                                    To preserve flavour and freshness, your Vitl bottle is made using TrueVacuum™ technology so liquids will be kept ice cold for up to 24 hours or piping hot for up to 12 hours. 
                                </p>
                            </div>
                            <div class="carousel__slide center-block">
                                <img class="lazyload mb-20 hidden-sm"
                                    width="150"
                                    data-src="https://static-prod.vitl.com/images/bottle/bottle-feature-2.png?compress=1 x1,
                                            https://static-prod.vitl.com/images/bottle/bottle-feature-2.png?width=150&compress=1 x2"
                                    data-src="https://static-prod.vitl.com/images/bottle/bottle-feature-2.png?width=150&compress=1" />
                                <img class="lazyload mb-30 hidden-xs hidden-md hidden-lg hidden-xl"
                                    width="270"
                                    data-src="https://static-prod.vitl.com/images/bottle/bottle-feature-2.png?compress=1" />
                                <h3 class="heading-4 mb-20">Eco-friendly</h3>
                                <p class="text--small">
                                    Say goodbye to plastic bottles for good. Your reusable bottle is made using BPA-free 18/8 stainless steel, keeping it protected from rust and lingering flavours so you can fill it with anything from milk to coffee or soup!
                                </p>
                            </div>
                            <div class="carousel__slide center-block">
                                <img class="lazyload mb-20 hidden-sm"
                                    width="150"
                                    data-src="https://static-prod.vitl.com/images/bottle/bottle-feature-3.png?compress=1 x1,
                                            https://static-prod.vitl.com/images/bottle/bottle-feature-3.png?width=150&compress=1 x2"
                                    data-src="https://static-prod.vitl.com/images/bottle/bottle-feature-3.png?width=150&compress=1" />
                                <img class="lazyload mb-30 hidden-xs hidden-md hidden-lg hidden-xl"
                                    width="270"
                                    data-src="https://static-prod.vitl.com/images/bottle/bottle-feature-3.png?compress=1" />
                                <h3 class="heading-4 mb-20">Reliable</h3>
                                <p class="text--small">
                                    Designed to be taken with you on the go, the bottle’s airtight screw-top cap saves you from unexpected leaks soaking your bag, and the hard-wearing powder coating prevents condensation from building up on the outside.
                                </p>
                            </div>
                        </swiper>
                        <div class="carousel-dots carousel-dots--dna"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container pt-60 pb-60 pt-md-100 pb-md-100 text-center">
            <h2 class="heading-2">Benefits</h2>
            <div class="row flex-center">
                <div class="col-xs-12 col-sm-5 col-sm-offset-1 display-flex flex-center">
                    <ul class="boxed-icons-list mt-60 mb-30">
                        <li>
                            <img class="lazyload mr-25" data-src="https://static.vitl.com/images/icons/icon-boxed-insulated.svg" />
                            Insulated
                        </li>
                        <li>
                            <img class="lazyload mr-25" data-src="https://static.vitl.com/images/icons/icon-boxed-reuse.svg" />
                            Reusable
                        </li>
                        <li>
                            <img class="lazyload mr-25" data-src="https://static.vitl.com/images/icons/icon-boxed-leakproof.svg" />
                            Leak proof
                        </li>
                        <li>
                            <img class="lazyload mr-25" data-src="https://static.vitl.com/images/icons/icon-boxed-bpafree.svg" />
                            BPA free
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-5 display-flex flex-center">
                    <img class="lazyload visible-sm visible-md visible-lg visible-xl"
                        width="120"
                        data-src="https://static-prod.vitl.com/images/bottle/bottle.png?compress=1 x1,
                                https://static-prod.vitl.com/images/bottle/bottle.png?width=120&compress=1 x2"
                        data-src="https://static-prod.vitl.com/images/bottle/bottle.png?width=120&compress=1" />

                    <img class="lazyload visible-xs"
                        width="90"
                        data-src="https://static-prod.vitl.com/images/bottle/bottle.png?width=120&compress=1" />
                </div>
            </div>
        </div>
    </section>

    <section class="background--cream">
        <div class="section-visual visible-xs visible-sm">
            <img class="lazyload visible-xs visible-sm" data-src="https://static-prod.vitl.com/images/bottle/bottle-lifestyle-2.jpg?v=2&compress=1"/>
        </div>
        <div class="container">
            <div class="row flex-center">
                <div class="section-visual col-xs-12 col-md-6 hidden-xs hidden-sm">
                    <div class="section-visual-inner visual-half visual-right">
                        <img
                            class="lazyload"
                            data-srcset="https://static-prod.vitl.com/images/bottle/bottle-lifestyle-2.jpg?v=2&width=900&compress=1 1x,
                                        https://static-prod.vitl.com/images/bottle/bottle-lifestyle-2.jpg?v=2&compress=1 2x"
                            data-src="https://static-prod.vitl.com/images/bottle/bottle-lifestyle-2.jpg?v=2&width=640&compress=1"/>
                    </div>
                </div>
                <div
                    class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 text-center pt-80 pb-80 pt-md-100 pb-md-100">
                    <h2 class="heading-2 ml-md-70 mr-md-70">Stay hydrated, stay healthy</h2>
                    <div class="divider"></div>
                    <p class="mb-20 mb-md-40">Keep your cool with The Vitl Bottle.</p>
                    <app-plan-selector [product]="product"></app-plan-selector>
                </div>
            </div>
        </div>
    </section>

</div>