<div class="new-UI">
    <div class="upsell">
        <div class="upsell__item">
            <div class="display-flex flex-center mb-25">
                <!-- <img [appImage]="data.icon" [height]="100" /> -->
                <img height="100" src="https://vitl.s3-eu-west-1.amazonaws.com/assets/images/vitamin-d-popup.jpg" />
                <div class="ml-20">
                    <h3 class="heading-3">{{data.name}}</h3>
                    <h4 class="heading-4">{{data.fromAmount}}</h4>
                </div>
            </div>
            <p>
                <strong>Add some sunshine this winter</strong><br>
                NHS advises all adults to supplement with vitamin D throughout winter and during lockdown to support a
                healthy immune system.
                <!-- <strong>Support your immune system</strong><br>
                High strength antioxidants with natural plant extracts to reinforce your natural defences. -->
            </p>
        </div>
    </div>
</div>