<h2 class="copy copy--large text-center pt-30 pb-20">Do you have a Vitl account?</h2>
<div class="mb-15 form__inline-md">
    <div class="form__inline__item text-center">
        <a class="button button--blackBorder mt-20" routerLink="/kit/account/login">
            <p class="copy">Yes</p>
        </a>
    </div>

    <div class="form__inline__item text-center">
        <a class="button button--blackBorder mt-20" routerLink="/kit/account/register">
            <p class="copy">No</p>
        </a>
    </div>
</div>