<section class="hero hero--primary hero--top hero--background hero--backgroundOffset" appImageBackground category="quality" key="hero" [height]="600">
  <div class="hero__container grid">
    <div class="hero__item grid__item--6 mb-30 mb-md-0">
      <h1 class="heading heading--reducedWidth-md heading--centered-md heading mb-40 text-center">
        Only the best to help you feel your best
      </h1>
      <hr class="hr mb-40 visible-md visible-lg visible-xl" />
      <h2 class="copy copy--reducedWidth-md copy--centered-md mb-40 text-center">
        Together, we’ll upgrade your wellbeing
      </h2>
    </div>
    <div class="hero__item grid__item--6 hero__item--bottom">
      <img src="https://static.vitl.com/assets/images/aUs-section1-bg1-mobile.png" class="visible-xs-inline visible-sm-inline hero__image" />
    </div>
  </div>
</section>

<div class="outsourced">

  <!-- about us section 2 -->
  <section class="container-fluid aUs-section2-fluid">
    <img src="https://static.vitl.com/assets/images/aUs-section2-img1.jpg" class="aUs__bg3">
    <img src="https://static.vitl.com/assets/images/aUs-section2-img2.jpg" class="aUs__bg4">
    <img src="https://static.vitl.com/assets/images/aUs-section2-img1-mobile.png" class="aUs__bg5">

    <div class="container aUs-section1 p-relative z-index-1 text-center">

      <div class="aUs-section2-h2-wrap">
        <h2 class="h2">The latest technology, reliable expert advice and pure ingredients
        </h2>
        <div class="divider divider--mb30"></div>
      </div>

      <div class="aUs-section2-p-wrap">
        <p class="p">Our aim is to give you access to everything you need to reach your goals and get your health on track from the comfort of your own home, without compromising on quality, precision or reliability.</p>
      </div>

    </div>
  </section>

  <!-- about us section 3 -->
  <section class="container-fluid aUs-section3-fluid">
    <div class="container aUs-section3">
      <div class="row">
        <div class="row__col-12 row__col-md-6 vertical-center-flex">

          <div class="aUs-section3-wrap">
            <h2 class="h2">Pure and simple</h2>

            <div class="divider divider--mb30"></div>

            <p class="p p--mb25">Your personalised vitamins will only contain what your body actually needs, and nothing else.</p>

            <p class="p">That means each and every nutrient contained will be non-GMO and they’ll contain no nasty bulking agents, artificial colours or preservatives.</p>
          </div>

        </div>
        <div class="row__col-12 row__col-md-6">
          <img src="https://static.vitl.com/assets/images/aUs-section3-img1.jpg" class="aUs-section3-img1">
        </div>
      </div>
    </div>
  </section>





  <!-- about us section 4 -->
  <section class="container-fluid aUs-section4-fluid">
    <div class="container aUs-section3">
      <div class="row">
        <div class="row__col-12 row__col-md-6 vertical-center-flex order-md-2">

          <div class="aUs-section4-wrap">
            <h2 class="h2">Sustainable, traceable, absorbable</h2>

            <div class="divider divider--mb30"></div>

            <p class="p p--mb25">You should never settle for less than the best.</p>

            <p class="p">That's why each extensively-researched ingredient we use has been carefully sourced to ensure exactly that; 100% traceability, certified-sustainable sourcing practices, and random quality control testing to guarantee potency.</p>
          </div>

        </div>
        <div class="row__col-12 row__col-md-6 order-md-1">
          <img src="https://static.vitl.com/assets/images/aUs-section4-img1.jpg" class="aUs-section4-img1">
        </div>
      </div>
    </div>
  </section>

  <!-- about us section 3 -->
  <section class="container-fluid aUs-section3-fluid">
    <div class="container aUs-section3">
      <div class="row">
        <div class="row__col-12 row__col-md-6 vertical-center-flex">

          <div class="aUs-section3-wrap">
            <h2 class="h2">(Accreditation) body confidence</h2>

            <div class="divider divider--mb30"></div>

            <p class="p p--mb25">Convenience doesn’t have to come at the expense of accuracy and reliability.</p>

            <p class="p">That’s why our UKAS-accredited blood testing facility and Illumina-certified DNA laboratory are Medical Laboratory (ISO 15189) and CQC accredited, and all of our supplements adhere to the highest GMP standards.</p>
          </div>

        </div>
        <div class="row__col-12 row__col-md-6">
          <img src="https://static.vitl.com/assets/images/aUs-section3-img1.jpg" class="aUs-section3-img1">
        </div>
      </div>
    </div>
  </section>





  <!-- about us section 4 -->
  <section class="container-fluid aUs-section4-fluid">
    <div class="container aUs-section3">
      <div class="row">
        <div class="row__col-12 row__col-md-6 vertical-center-flex order-md-2">

          <div class="aUs-section4-wrap">
            <h2 class="h2">Multiple minds are better than one</h2>

            <div class="divider divider--mb30"></div>

            <p class="p p--mb25">Take our free consultation and your wellbeing will be analysed holistically from every angle using the expertise and experience of a whole panel of specialists.</p>

            <p class="p">That way, you can trust in the quality of your results and know you've got a full, clear picture of what’s really going on inside your body.</p>
          </div>

        </div>
        <div class="row__col-12 row__col-md-6 order-md-1">
          <img src="https://static.vitl.com/assets/images/aUs-section4-img1.jpg" class="aUs-section4-img1">
        </div>
      </div>
    </div>
  </section>

</div>