<div class="pt-100 pt-md-150">
    <div class="container container--small text-center pt-md-100 pt-50">
        <h1 class="heading heading--medium">Congratulations!</h1>
        <hr class="hr mt-30 mb-30 hr--primary"/>
        <p class="copy copy--medium pb-20">Check you out, smarty pants 🙂</p>
        <p class="copy copy--medium pb-30">Your reward for finding the backdoor is £5 off your next order - all you need to do is enter
            <span class="copy--bold">'BACKDOOR'</span> at checkout to claim your discount</p>
        <a routerLink="/products" class="button button--primary mb-20">See products</a>
    </div>
</div>
