<section class="relative light-yellow">
  <div class="no-1280 right">
    <img src="https://static.vitl.com/images/practitioners/header-B-desktop.jpg" class="header-image"
         alt="header image"/>
  </div>

  <div class="no-image yes-1280 no-768">
    <img src="https://static.vitl.com/images/practitioners/header-B-desktop.jpg" class="header-image"
         alt="header image"/>
  </div>

  <div class="header-image-tablet no-image yes-768 no-480">
  </div>

  <div class="header-image-mobile no-image yes-480">
  </div>

  <div class="textBox left-15-percent">
    <div class="title-textBox">
      Vitl for Practitioners
    </div>
    <div class="black-line"></div>
    <div class="summary-textBox">
      Help your clients make a lasting difference to their wellbeing with <b>tailor-made supplements, at-home nutrition
      tests</b> and <b>personalised nutrition advice</b>.
    </div>
    <div class="center">
      <a href="https://vitlhealth.typeform.com/to/IBvcRr" target="_blank">
        <div class="button button--primary">
          Apply now
        </div>
      </a>
    </div>
  </div>
</section>

<section class="how-vitl-help-section">
  <div class="title-work">
    How Vitl can help&nbsp;you<br />to help your&nbsp;clients<br />live life better
  </div>
  <div class="container-fluid container-howithelps">
    <div class="container-products hide-less-1024">
      <div class="product personalized">
        <h3>Personalised vitamins</h3>
        <hr/>
        <p>
          Keep their health on track with a subscription to tailor-made vitamins, formulated based on their diet and
          lifestyle using the most absorbable nutrients.
        </p>
      </div>

      <div class="product bloodtest">
        <h3>At-home Blood Test</h3>
        <hr/>
        <p>
          Monitor their vitamin and cholesterol levels with this simple and easy test.
        </p>
      </div>

      <div class="product dna">
        <h3>DNA Nutrition Test</h3>
        <hr/>
        <p>
          Identify their predispositions to ways of eating, vitamin deficiencies, exercise types and more.
        </p>
      </div>
    </div>

    <div class="show-less-1024 custom-hidden">
      <div class="owl-carousel">
        <div class="item active">
          <figure>
            <img alt="Personalised vitamins" src="https://static.vitl.com/images/practitioners/product-1.jpg"/>
          </figure>
          <h4>Personalised vitamins</h4>
          <hr/>
          <p>
            Keep their health on track with a subscription to tailor-made vitamins, formulated based on their diet and
            lifestyle using the most absorbable nutrients.
          </p>
        </div>

        <div class="item">
          <figure>
            <img alt="At-home Blood Test" src="https://static.vitl.com/images/practitioners/product-2.jpg"/>
          </figure>
          <h4>At-home Blood Test</h4>
          <hr/>
          <p>
            Monitor their vitamin and cholesterol levels with this simple and easy test.
          </p>
        </div>

        <div class="item">
          <figure>
            <img alt="DNA Nutrition Test" src="https://static.vitl.com/images/practitioners/product-3.jpg"/>
          </figure>
          <h4>DNA Nutrition Test</h4>
          <hr/>
          <p>
            Identify their predispositions to ways of eating, vitamin deficiencies, exercise types and more.
          </p>
        </div>
      </div>

      <div class="owl-nav" id="owl-nav">
        <div class="owl-prev">
          <img src="https://static.vitl.com/images/practitioners/caret-left.png" alt="prev">
        </div>
        <div class="owl-next">
          <img src="https://static.vitl.com/images/practitioners/caret-right.png" alt="next">
        </div>
      </div>

    </div>
  </div>
</section>

<section class="what-you-get">
  <div class="title-what-you-get">
    What you will get
  </div>

  <hr class="black-line only-480"/>

  <div class="container container-howitworks">
    <div class="center item-whatyouget">
      <img src="https://static.vitl.com/images/practitioners/icon-1.png" class="" alt="message image">
      <div class="summary-item">
        Exclusive incentive scheme for practitioners.
      </div>
    </div>

    <div class="center item-whatyouget">
      <img src="https://static.vitl.com/images/practitioners/icon-2.png" class="" alt="chat image">
      <div class="summary-item">
        Easy and convenient way to track clients’ progress.
      </div>
    </div>

    <div class="center item-whatyouget">
      <img src="https://static.vitl.com/images/practitioners/icon-3.png" class="" alt="gift image">
      <div class="summary-item">
        Direct line to our Nutrition Team and exclusive access to nutrition research.
      </div>
    </div>
  </div>
</section>

<section class="lets-help">
  <div class="content">
    <h2>Let’s help more people than ever live life better</h2>
    <a href="https://vitlhealth.typeform.com/to/IBvcRr" target="_blank">
      <div class="button button--white">
        Register your interest
      </div>
    </a>
  </div>
</section>
