<div class="new-UI page--upgrade">
  <div class="hero">
    <div class="section-visual-inner">
      <img class="lazyload hidden-xs hidden-ms"
        data-src="https://static.vitl.com/images/upgrade-subscription/desktop-header-1920.jpg?compress=1"
        alt="" />

      <img class="lazyload visible-xs visible-sm"
        data-src="https://static.vitl.com/images/upgrade-subscription/ipad-header.png?compress=1"
        alt="" />
    </div>
  </div>

  <section class="background--cream text-center">
    <div class="container pt-50 pb-50">
      <h1 class="heading-2 mb-30">Upgrade your subscription & save!</h1>
      <div class="row">
        <div class="col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
          <p>Your pack will still be <strong>sent monthly starting today</strong> and your supplements will update automatically if you retake your consultation and your health goals change.</p>

          <div class="background--white mt-40 mb-40 p-20">
            <div class="row">
              <div class="col-xs-6 text-left">
                <p><strong>Quarterly subscription</strong></p>
                <p class="text--success">20% discount</p>
              </div>
              <div class="col-xs-6 text-right">
                <p><strong>{{this.quarterlyPrice}}</strong></p>
                <p class="text--gray-light"><strong><s>RRP {{this.monthlyPrice}}</s></strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="button button--primary" (click)="upgradePack()">Upgrade now</button>
    </div>
  </section>
</div>
