<h1>Delivery</h1>

<h2>Who is this being delivered to?</h2>

<div class="container container--tiny pb-20">

    <div class="mb-40">

        <form class="form" (ngSubmit)="findAddress()" #searchForm="ngForm">

            <div class="mb-10">
                <app-form-text name="firstName" placeholder="First name" [invalid]="formErrors.firstName" ngModel required></app-form-text>
            </div>

            <div class="mb-10">
                <app-form-text name="lastName" placeholder="Last name" [invalid]="formErrors.lastName" ngModel required></app-form-text>
            </div>

            <div class="mb-30">
                <app-form-text name="postcode" placeholder="Postcode" [invalid]="formErrors.postcode" ngModel required #postcodeInput></app-form-text>
            </div>

            <button class="button button--primary button--fullWidth">Find address</button>

        </form>

    </div>

    <hr class="hr hr--fadedCream mb-30" />

    <a class="copy copy--mediumWeight font-14 font-md-16 primaryBorder" routerLink="/checkout/delivery/manual">Enter address manually</a>

</div>
