<div class="outsourced outsourced_recycling">
    <section class="hero hero--cream hero--top">
        <div class="hero__container grid">
            <div class="hero__item grid__item--5 grid__item--order-2 grid__item--start-8">
                <h2 class="heading--medium heading mb-40">
                    Recycling your Vitl box
                </h2>
                <hr class="hr hr--left mb-40 visible-md visible-lg visible-xl"/>
                <h2 class="copy copy--reducedWidth-md mb-40 mb-md-0 text-center text-left-md">
                    Follow these simple instructions to prepare your Vitl box for recycling
                </h2>
            </div>
            <div class="hero__item grid__item--6 hero__item--bottom grid__item--order-1">
                <img appImage category="recycle" key="hero-image" width="720" compress="1"  class="width-100"/>

            </div>
        </div>
    </section>

    <section class="container pt-100" style="max-width: 720px;">
        <h2 class="lp-h2">
            Before starting
        </h2>
        <p class="copy mt-10 mb-15">
            Remove any inserts. These are made from fully recyclable material so can go straight in the recycling
            bin.
        </p>
        <img appImage category="recycle" key="before-starting"  class="width-100"/>
    </section>

    <section class="container pt-100" style="max-width: 720px;">
        <h2 class="lp-h2">
            Step 1 - Cut the sides
        </h2>
        <p class="copy mt-10 mb-15">
            Use a pair of scissors to cut along both sides of the box
        </p>
        <img appImage category="recycle" key="step-1"  class="width-100"/>

    </section>

    <section class="container pt-100" style="max-width: 720px;">
        <h2 class="lp-h2">
            Step 2 - Cut the plastic
        </h2>
        <p class="copy mt-10 mb-15">
            Again using the scissors, cut the plastic band in half
        </p>
        <img appImage category="recycle" key="step-2" class="width-100"/>

    </section>

    <section class="container pt-100" style="max-width: 720px;">
        <h2 class="lp-h2">
            Step 3 - Separate the box halves
        </h2>
        <p class="copy mt-10 mb-15">
            Separate the two parts of the box as per the image below
        </p>
        <img appImage category="recycle" key="step-3" class="width-100"/>

    </section>

    <section class="container pt-100" style="max-width: 720px;">
        <h2 class="lp-h2">
            Step 4 - Remove the plastic band
        </h2>
        <p class="copy mt-10 mb-15">
            Peel away the plastic band from the box (on the opposite side from where you cut it previously)
        </p>
        <img appImage category="recycle" key="step-4" class="width-100"/>

    </section>

    <section class="container pt-100" style="max-width: 720px;">
        <h2 class="lp-h2">
            Step 5 - Remove bottom magnet & ribbon
        </h2>
        <p class="copy mt-10 mb-15">
            Use scissors to cut the card like in the image below. This will reveal a magnet and inner ribbon which need
            to be removed
        </p>
        <img appImage category="recycle" key="step-5" class="width-100"/>

    </section>

    <section class="container pt-100" style="max-width: 720px;">
        <h2 class="lp-h2">
            Step 6 - Remove top magnet
        </h2>
        <p class="copy mt-10 mb-15">
            Again, use scissors to cut into the card and reveal the magnet inside which should be removed.
        </p>
        <img appImage category="recycle" key="step-6" class="width-100"/>

    </section>

    <section class="container pt-100 pb-100" style="max-width: 720px;">
        <h2 class="lp-h2">
            Recycle!
        </h2>
        <p class="copy mt-10 mb-15">
            Recycle the various components according to your local authority’s recycling facilities and capabilities.
            Thank you for helping us look after our planet!
        </p>
        <img src="https://static-prod.vitl.com/assets/images/recycling/recycle.png?width=720"
             srcset="https://static-prod.vitl.com/assets/images/recycling/recycle@2x.png?width=720 2x"
             class="hidden-xs-dis width-100 pt-20"/>
    </section>
</div>
