<ul class="theone-gummy-list">
  <li (click)="selectCapsule()">
    <h6>Capsule</h6>
    <img appImage category="icons" key="theone-capsule" [height]="80" />
    <p>A small, easy-to-swallow capsule</p>
    <button class="hidden-xs button button--green button--smallHeight">SELECT</button>
  </li>
  <li (click)="selectGummy()">
    <h6>Gummy</h6>
    <img appImage category="icons" key="theone-gummy" [height]="80" />
    <p>A tasty, chewable gummy</p>
    <button class="hidden-xs button button--green button--smallHeight">SELECT</button>
  </li>
</ul>
