<div class="outsourced">
  <section class="hero hero--primary hero--top">
    <div class="hero__container grid">
      <div class="hero__item grid__item--6">
        <h1 class="heading heading--reducedWidth-md heading--centered-md heading mb-40 text-center">
          Unparalleled personalisation
        </h1>
        <hr class="hr mb-40 visible-md visible-lg visible-xl"/>
        <h2 class="copy copy--reducedWidth-md copy--centered-md mb-40 mb-md-0 text-center">
          The world’s most advanced nutrition platform
        </h2>
      </div>
      <div class="hero__item grid__item--6 hero__item--bottom">
        <img src="https://static.vitl.com/assets/images/aUs-section1-bg1.png" class="hidden-xs-dis hero__image">
      </div>
    </div>
  </section>
  <!-- The latest technology. The most reliable expert advice -->
  <section class="container-fluid">
    <div class="hero hero--cream hero--background ">
      <img src="https://static.vitl.com/assets/images/a_great_day_bg_left@2x.png" class="hero--backgroundImageLeft hidden-xs hidden-sm" alt="">
      <div class="container">
        <div class="text-center center-block width-50--md pt-50  pb-50">
          <h3 class="heading mb-30 font-md-44 font-36 mt-20 mt-md-0">The latest technology.<br />The most reliable expert advice.
          </h3>
          <hr class="hr hr--primary mb-30"/>
          <p class="copy mb-30 mb-md-60 font-16 font-md-20">To really understand you, we need to look at a little bit
            more than what you eat for breakfast.</p>
        </div>
      </div>
      <img src="https://static.vitl.com/assets/images/a_great_day_bg_right@2x.png" class="hero--backgroundImageRight hidden-xs hidden-sm"
           alt="">
    </div>
  </section>

  <!-- Presenting you with the facts -->
  <section class="container-fluid aUs-section3-fluid">
    <div class="container pb-100 pt-100">
      <div class="grid">
        <div class="grid__item--6 vertical-center-flex">

          <div class="aUs-section3-wrap">
            <h2 class="h2">Presenting you with the facts</h2>

            <div class="divider divider--mb30"></div>

            <p class="p">Using artificial intelligence to combine the knowledge and experience of nutrition, medical and
              genetic experts with the latest technological advances in at-home testing, we'll seamlessly integrate your
              health data, so you can find out what’s really going on under the surface.</p>
          </div>
        </div>
        <div class="grid__item--5 grid__item--start-8">
          <app-expert-squares></app-expert-squares>
        </div>
      </div>
    </div>
  </section>

  <!-- The future is personal -->
  <section class="container-fluid aUs-section3-fluid">
    <div class="container pb-50">
      <div class="grid">
        <div class="grid__item--6 vertical-center-flex grid__item--order-2 grid__item--start-8">
          <div class="aUs-section3-wrap">
            <h2 class="h2">The future is personal</h2>

            <div class="divider divider--mb30"></div>

            <p class="p">So whether your body requires vitamin B9 in its methylated form because you carry the MTHFR
              gene, or your blood cholesterol reading is a bit high lately so you need a tailor-made meal plan, or
              simply that you’d prefer a plant-based version of vitamin D3 because you’ve gone vegan, we’ve got you
              covered.</p>
          </div>

        </div>
        <div class="grid__item--5 vertical-center-flex grid__item--order-1">
          <img src="https://static.vitl.com/assets/images/aUs-section5-img1.jpg" class="aUs-section3-img1 width-100">
        </div>
      </div>
    </div>
  </section>

  <!-- Pure and simple -->
  <section class="container-fluid aUs-section3-fluid">
    <div class="container aUs-section3">
      <div class="grid">
        <div class="grid__item--6 vertical-center-flex">
          <div class="aUs-section3-wrap">
            <h2 class="h2">Pure and simple</h2>
            <div class="divider divider--mb30"></div>
            <p class="p">Your personalised vitamins will only contain what your body actually needs, and nothing else.
              <br><br>
              That means each and every nutrient contained will be non-GMO and they’ll contain no nasty bulking agents,
              artificial colours or preservatives
            </p>
          </div>
        </div>
        <div class="grid__item--5 grid__item--start-7">
          <img src="https://static.vitl.com/assets/images/aUs-section6-img1.jpg" class="aUs-section3-img1 width-100">
        </div>
      </div>
    </div>
  </section>

  <!-- Take their word for it -->
  <section class="container-fluid aUs-section4-fluid">
    <div class="container">
      <div class="grid">
        <div class="grid__item--6 grid__item--start-7 grid__item--order-2 vertical-center-flex">

          <div class="aUs-section4-wrap">
            <h2 class="h2">Take their word <span class="nowrap">for it</span></h2>

            <div class="divider divider--mb30"></div>

            <p class="p">Convenience doesn’t have to come at the expense of accuracy and reliability.
              <br><br>
              That’s why we use a UKAS-accredited and CQC-registered blood testing facility here in the UK, as well as
              Illumina CSPro Certified Service Providers in Europe and the USA for our DNA testing. Our US DNA
              laboratory is also CAP-accredited and CLIA-certified.
              <br><br>
              Plus, all of our supplements are manufactured under the GMP licence issued by the MHRA.
              <br><br>
              But if you’re still wondering whether you’ll really notice a difference, we’d suggest you check out <a
                href="https://uk.trustpilot.com/review/vitl.com" target="_blank"
                class="underline-link font-14 font-md-18">our
                customer reviews.</a></p>
          </div>
        </div>
        <div class="grid__item--4">
          <img src="https://static.vitl.com/assets/images/accreditation.png" class="width-100">
        </div>
      </div>
    </div>
  </section>
</div>
