<div class="pt-100 pt-md-150 pb-60">

    <div class="container container--tiny text-center">

        <h1 class="heading heading--small mb-30">Login to your Vitl account</h1>

        <hr class="hr hr--primary mb-30">

        <form class="mb-30" (ngSubmit)="login()" #loginForm="ngForm">

            <div class="mb-30">
                <app-form-text name="email" placeholder="Email address" ngModel email required></app-form-text>
            </div>
            <div class="mb-30">
                <app-form-password name="password" placeholder="Password" ngModel password required></app-form-password>
            </div>

            <button class="button button--fullWidth button--maxWidth">Login</button>

        </form>

        <div class="mb-30">
            <a routerLink="/forgot" (click)="onForgotClick()">Forgot password?</a>
        </div>

        <hr class="hr mb-30" />

        <h1 class="heading heading--small mb-30">Don't have an account?</h1>

        <a class="button button--fullWidth button--maxWidth button--primary mb-30" routerLink="/register">Register here</a>

    </div>

</div>
